In [1]:
library(modeldata)
library(C50)
library(mlflow)

In [2]:
data(credit_data)
#vars<- c("Home", "Seniority")
#str(credit_data[, c(vars, "Status")])
#str(credit_data)

In [3]:
head(credit_data)

  Status Seniority Home  Time Age Marital Records Job       Expenses Income
1 good    9        rent  60   30  married no      freelance 73       129
2 good   17        rent  60   58  widow   no      fixed     48       131
3 bad    10        owner 36   46  married yes     freelance 90       200
4 good    0        rent  60   24  single  no      fixed     63       182
5 good    0        rent  36   26  single  no      fixed     46       107
6 good    1        owner 60   36  married no      fixed     75       214
  Assets Debt Amount Price
1    0   0     800    846
2    0   0    1000   1658
3 3000   0    2000   2985
4 2500   0     900   1325
5    0   0     310    910
6 3500   0     650   1645

In [4]:
colSums(is.na(credit_data))

   Status Seniority      Home      Time       Age   Marital   Records       Job
        0         0         6         0         0         1         0         2
 Expenses    Income    Assets      Debt    Amount     Price
        0       381        47        18         0         0

In [5]:
# Create a list of variable combinations
var_list <- list(c("Home", "Seniority"),
                 c("Seniority", "Home"),
                 c("Home", "Seniority", "Time"),
                 c("Home", "Seniority", "Time", "Age"),
                 c("Home", "Seniority", "Time", "Age", "Marital"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses", "Income"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses", "Income", "Assets"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses", "Income", "Assets", "Debt"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses", "Income", "Assets", "Debt", "Amount"),
                 c("Home", "Seniority", "Time", "Age", "Marital", "Records", "Job", "Expenses", "Income", "Assets", "Debt", "Amount", "Price"))

In [6]:
# Create a directory named 'tree' if it doesn't exist
if (!dir.exists("tree")) {
  dir.create("tree")
}

In [7]:
set.seed(2411)
in_train<- sample(1:nrow(credit_data), size = 3000)
train_data<- credit_data[in_train,]
test_data<-credit_data[-in_train,]

In [8]:
# Loop through the variable combinations
for (i in 1:length(var_list)) {
  # Extract the variable combination
  vars <- var_list[[i]]
  
  # Train the model
  tree_mod <- C5.0(x = train_data[, vars], y = train_data$Status)
  
  # Save the plot
  png(filename = paste0("tree/decision_tree_", paste(vars, collapse = "_"), ".png"))
  plot(tree_mod)
  dev.off()
}